html {
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: #FF0000;
}

header {
    background-color: #FF4500;
    border-radius: 0 0 1em 1em;
    border: 2px solid #FFFFFF;
    border-top: None;
    color: white;
    padding: 1% 10%;
}

nav {
    display: flex;
    flex-direction: space-between;
    text-align: center;
}

nav > a {
    flex: 1;
    display: block;
    color: white;
    text-decoration: None;
}

nav > a:hover {
    text-decoration: underline;
}


input {
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;
    border: 1px solid #FFFFFF;
    background-color: #111333;
    color: white;
    width: 60%;
    min-width: 100px;
}

button[type="submit"] {
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;
    border: 1px solid #FFFFFF;
    background-color: #111333;
    color: white;
    margin-left: 12px;
    width: 150px;
}

button[type="submit"]:hover {
    border-radius: 5px;
    border: 1px solid #00CC00;
    background-color: #00CC00;
}

::placeholder {
    color: #AAACCC;
}

.simple-card {
    background-color: #FF4500;
    border-radius: 1em;
    margin: 50px 10%;
    border: 2px solid #FFFFFF;
    color: white;
    padding: 10%;
}

form {
    text-align: center;
}

form > * {
    margin-bottom: 10px;
}

h1 {
    text-align: center;
    color: white;
}

.bp {
    font-size: 25px;
}

.ba {
    display: block;
    text-align: center;
    text-decoration: None;
    color: #AAACCC;
    font-size: 25px;
}

.ba:hover {
    color: #00CC00;
}

.err-card {
    background-color: #AA0000;
    border-radius: 1em;
    margin: 50px 10%;
    border: 2px solid #FFFFFF;
    color: white;
    padding: 1% 10%;
}

.log-card {
    background-color: #00AA00;
    border-radius: 1em;
    margin: 50px 10%;
    border: 2px solid #FFFFFF;
    color: white;
    padding: 1% 10%;
}

.exit-a {
    background-color: #AA0000;
    border-radius: 1em;
    display: inline-block;
    margin: 0 10%;
    border: 2px solid #FFFFFF;
    color: white;
    padding: 1% 10%;
}

.exit-a:hover {
    background-color: #BB0000;
    color: white;
}

.active {
    color: orange;
}

.inv {
    color: #111333;
    background-color: white;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 0 10px;
}

a.menu {
    flex: 1;
    margin: 10px 20px;
    padding: 30px 0 0 0;
    width: 200px;
    height: 70px;
    text-align: center;
    display: inline-block;
    border: 1px solid #AAACCC;
    margin: 0 auto;
    display: block;
    text-decoration: None;
    color: #AAACCC;
    font-size: 25px;
}

a.menu:hover {
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
}
