<header>
    <nav>
        <a class=<%= page === "Home" ? "active" : "passive"%> href="/">Домашнаяя страница</a>
        <a class=<%= page === "games" ? "active" : "passive"%> href="/games?age=0">Игры</a>
        <a class=<%= page === "personal" ? "active" : "passive"%> href="/personal">Персональная страница</a>
    </nav>
</header>
